<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
              http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!--加载配置文件-->
    <context:property-placeholder location="classpath:db.properties"/>

    <!-- Spring扫描包，排除springMVC扫描的包，重复扫描会有问题-->
    <context:component-scan base-package="com.chl.demo.*">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

    <!--jpa配置-->
    <import resource="classpath:spring/spring-data-jpa.xml"/>

    <!-- spring根目录扫描 -->
    <context:component-scan base-package="com.chl.demo.*"/>

           <bean id="lockManager" class="com.chl.demo.rest.server.common.lock.LockManager">
        <constructor-arg name="lockRepository" ref="lockRepository" />
        <constructor-arg name="transactionManager" ref="transactionManager" />
    </bean>

    <bean id="lockRepository"
          class="com.chl.demo.rest.server.common.lock.repository.jpa.JpaLockRepository">
        <constructor-arg name="entityManagerProvider" ref="entityManagerProvider" />
    </bean>

    <bean id="entityManagerProvider"
          class="org.axonframework.common.jpa.ContainerManagedEntityManagerProvider" />

       
</beans>
